
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    background-color: rgb(27, 27, 27);
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
    color: white;
}

a.ola:hover{
    background-color: #dfff2a(98, 255, 177, 0.404);
}
/* Cursor Styling */
.cursor{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    border-style: solid;
    border-width: 7px;
    border-color: white;
    transition: 0.1s;
    transform: translate(-40%,-40%);
    pointer-events: none;
    mix-blend-mode: difference;
}

.nav-links:hover .cursor {
    transform: scale(3);
    border-radius: 50%;
}

.projects:hover {
    background-color: teal;
}

.ola:hover .cursor{
    transform: scale(3);
    border-radius: 50%;
}

header {
    display: flex;
    margin: auto;
    width: 90%;
    height: 10vh;
    align-items: center;
    animation: header-load 600ms;
}

main {
    animation: main-load 1s;
}

@keyframes header-load {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes main-load {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

.direito-autoral-logo{
    width: 2vh;
    height: 2vh;

}

footer {
    display: flex;
    margin-left: 45%;
    width: 20%;
    align-items: center;
    animation: header-load 600ms;
    font-size: 10px;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.logo-container, 
.nav-links,
.ano {
    display: flex;
}

.logo-container{
    flex: 1;
}

nav { 
    flex: 1;
    margin-bottom: 4%;
}

.nav-links {
    justify-content: flex-end;
    list-style-type: none;   
}

.nav-link {
    cursor: none;  
    display: inline-block;
    margin-right: 40px;
}

.nav-link {
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
}

.ano h4 {
    font-weight: 300;
}

.ano{
    flex: 1;
    transition: opacity 1s;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    flex: 1;
    margin-bottom: 30vh;
    background-color:transparent; 
}

.works {
    flex: 0;
    margin-bottom: 30vh;
    background-color:transparent; 
}

.projects {
    margin-left: 30vh;
    margin-top: 10vh;
}

li {
    list-style-type: none;
    font-size: 100px;
}

p {
    background-color: transparent;
}
.introduction h1 {
    font-size: 46px;
    font-weight: 400; 
    background-color: transparent;
}

.introduction h2 {
    font-size: 66px; 
    color: white; 
    width: 10%; 
}

.works h1 {
    font-size: 46px;
    font-weight: 400; 
    background-color: transparent;
}

.works h2 {
    font-size: 66px; 
    color: white; 
    width: 10%; 
}



.name{
    position: absolute;
    bottom: 30px;
    background-color: transparent;
}

.introduction2 p {
    font-size: 30px;
    width: 50%;
    margin-left: 20vh; 
    margin-bottom: 10vh;
    font-weight: 100;  
    background-color: transparent;
    
}

.social p {
    line-height: 25px;
}

a {
    display: inline-block;
    position: relative;
    color: white;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scale(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

a:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}


.img1 { 
    visibility: hidden;
    width:  50%;
    top: 10px;
    left: 100px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
}    


.introduction2 p .ola:hover .img1 { 
    visibility: visible;
    position: absolute; 
    opacity: 1;
}
  
.img2 { 
    visibility: hidden;
    width:  250px;
    height: 300px;
    top: 100px;
    right: 100px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
}    


.img3 { 
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    width: 85vh;
    left: 65vh;
}    

.img4 { 
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    width: 85vh;
    left: 65vh;
}    

.img5 { 
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    width: 85vh;
    left: 65vh;
    bottom: 1vh;
}    

.projects li .ola:hover .img3 { 
    visibility: visible;
    position: absolute; 
    opacity: 1;
}

.projects li .ola:hover .img4 { 
    visibility: visible;
    position: absolute; 
    opacity: 1;
}


.projects li .ola:hover .img5 { 
    visibility: visible;
    position: absolute; 
    opacity: 1;
}


.introduction2 p .ola:hover .img2 { 
    visibility: visible;
    position: absolute; 
    opacity: 1;
}

.intro {
    margin-top: 1%;

}

.areaintro {
    width: 40%;
}

.title {
    font-size: 70px;
}

.role {
    font-size: 15px;
}

.year {
    font-size: 15px;
}

.maintext {
    width: 100%;
    margin-top: 5%;
    line-height: 1.6;
}

.img6 {
    position: absolute; 
    width: 50%;
    margin-left: 10%;
    bottom: 50px;
  }

.img7 {
    width: 80%;
    animation: main-load 1s;
}

.scrollmore {
    margin-top: 10%;
    font-style: italic;
}

.imagens {
    align-items: center;
    margin-left: 5%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:transparent;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 40px;
    transition: all 0.5s;
  }
  
  #myBtn:hover {
    background-color: #dfff2a;
    color: black;
  }

  html {
    scroll-behavior: smooth;
  }

  .cvhere {
    position: absolute;
    font-size: 20px;
    font-weight: 200;
  }

  .cv {
      font-weight: 700;
      font-size: 20px;
  }

  .curriculum {
      position: absolute;
      width: 100px;
  }

  ::selection {
    background: #dfff2a; /* WebKit/Blink Browsers */
    color: black;
  }
  ::-moz-selection {
    background: #dfff2a; /* Gecko Browsers */
    color: black;
  }